attrs==20.2.0
autobahn==20.7.1
Automat==20.2.0
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
constantly==15.1.0
cryptography==3.1
cycler==0.10.0
dateparser==0.7.6
hyperlink==20.0.1
idna==2.10
incremental==17.5.0
joblib==0.16.0
kiwisolver==1.2.0
matplotlib==3.3.1
multitasking==0.0.9
numpy==1.19.1
pandas==1.1.1
Pillow==7.2.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyHamcrest==2.0.2
pyOpenSSL==19.1.0
pyparsing==2.4.7
python-binance==0.7.5
python-dateutil==2.8.1
pytz==2020.1
regex==2020.7.14
requests==2.24.0
scikit-learn==0.23.2
scipy==1.5.2
service-identity==18.1.0
six==1.15.0
ta==0.5.25
threadpoolctl==2.1.0
tqdm==4.48.2
Twisted==20.3.0
txaio==20.4.1
tzlocal==2.1
urllib3==1.25.10
yfinance==0.1.54
zope.interface==5.1.0
